body 
{
    padding: 30px;
    background-color: #29201b;
    color: #efefef;
    font-family:'Open Sans', sans-serif;
    font-size: 18px;
}

form
{
    margin-bottom: 20px;
}

table 
{
    border-collapse: collapse;
    border-spacing: 0;
}

th, td
{
    border: 1px solid white;
    padding: 5px;
    text-align: center;
}
