* {
    box-sizing: border-box;
}
body 
{
    background: aqua;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    font-size:1.5rem;
    text-align:center;
    color: white;
}

.container
{
    background: #fff;
    width: 85%;
    height: auto;
    margin: 0 auto;
    border: 1px white solid;
    border-radius: 1rem;
}

.logo 
{
    width: 100%;
    background: black;
    padding: 1rem;
    border-radius: 1rem;
}

.logo  {
    color: #fff;
    font-size: 1.1rem;
}

.nav 
{
    padding: 1rem;
    width: 33.3%;
    background: red;
    float: left;
    font-size: 1.4rem;
    height: 700px;
    border-radius: 1rem;

}

.nav p a {
    text-decoration: none;
    color: #fff;
    transition: all .2s ease-in-out;
}

.nav p a:hover {
    text-decoration: none;
    color: green;
    font-size: 2rem;;
}

table 
{
    padding: 0 3rem;;
}

.main 
{
    text-align: center;
    padding: 5px 30px;
    width: 33.3%;
    background: green;
    float: left;
    height: 700px;
    border-radius: 1rem;
}

.aside 
{
    width: 33.3%;
    background: blue;
    float: left;
    height: 700px;
    border-radius: 1rem;
}

.footer 
{
    width: 100%;
    background: black;
    clear: both;
    font-size: 1.6rem;
    padding: .5rem;
    border-radius: 1rem;
}

td, th {
    border: 1px solid black;
}

.green {
    color: palegreen;
    font-weight: bold;
}

.Formularz
{
    border: 1px solid black;
    border-radius: 16px;
    background-color: white;
    color: black;
    padding: 1rem;
    margin: 0.5rem;
}

.Formularz:last-child {
    padding-bottom: 20px;
}

.Formularz:first-child {
    padding-top: 0px;
}

.main .select {
    color: green;
    border-radius: 16px;
    border: 1px solid green;
}