$breakpoint: (
    small: 20em,
    medium: 65em,
    large: 90em,
);

$br-small: 45rem;


.card {
    padding: 1em;

    &__title {
        font-size: 1.5rem;
    }

    @media (min-width: 768px) {
        padding: 2em;
    }
}

nav {
    ul {
        list-style: none;
        display: flex;
    }

    li {
        padding: .25em;
    }

    a { color: black; }
}